/* MAIN DOCUMENT CONTAINERS */


body {
    display: flex;
    justify-content: center; 
    width: 100vw;
    height: 10vw;
    position: absolute;
}

.main-container {
    display:flex;
    flex-direction: column;
    width: 60%;
    height: 80vw;
    justify-content: top;
    border: 8px solid black;
}

.left-mid-divs-container {
    border: 5px solid orange;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/* GAME INFORMATION BAR */

.game-state-div {
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}

.current-round-div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    /* margin-right: 10%; */
}

.text-span{
    font-size: xx-large;
    font-family:'Monoton', Cursive;
    padding-top: 7%;
}

#game-round {
    border: 5px solid red;
    border-radius: 50%;
    font-size: xxx-large;
    height: 70px;
    width: 70px;
    margin-left: 15px;
    font-family:'Monoton', Cursive;
    color:rgb(241, 201, 23);
    background-color: red;

}

.GS-comp-score-div{
    border: 2px solid red;
    margin: 2%;
    display: flex;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
}

#comp-score {
    border: 2px solid greenyellow;
    font-size: xx-large;

}


.GS-player-score-div{
    border: 2px solid red;
    margin: 2%;
    font-family: 'Russo One', sans-serif;
}
#player-score {
    border: 2px solid greenyellow;
    font-size: xx-large;
}

.button-div {
    margin: auto;
    display:flex;
    flex-direction: column;
}
.border-btn-div {
    border-bottom: 3px solid black;
    padding-bottom: 4%;
}

.upper-btn {
    width: 150px;
    height: 35px;
    margin: auto;
    color: white;
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
    background-color:rgb(234,29,29);
    border-radius: 30mm;
}
#skip-item-btn {
    margin-top: 5%;
}


/* PRODUCT INFORMATION CONTAINER*/



.product-info-container {
    border: 2px solid blue;
    display:flex;
    flex-direction:column;
    justify-content:center;

}

.product-window {
    border: 2px solid red;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Lobster', cursive;
}


.prod-title {
    border: 2px solid greenyellow;
    text-align: center;
    font-size: 40px;
    font-family: 'Zilla Slab', serif;

}
.prod-description {
    border: 2px solid greenyellow;
    padding: 2%;
    text-align: center;
    font-family: 'Zilla Slab', serif;
}

.prod-category{
    border: 2px solid red;
    width: 75%;
    padding: 1%;
    margin: 1%;
    margin-left: 10.5%;
    text-align: center;
    font-size: 20px;
    font-family: 'Zilla Slab', serif;
}
.prod-photo-div {
    border: 2px solid greenyellow;
    display: flex;
    justify-content: center;
    max-width: 30%;
    min-width: 30%;
    max-height: auto%;
    min-height: auto%;
    margin: auto;
}

#prod-img {
    max-width: 80%;
    max-height: 100%;
}



/* USER INPUT CONTAINER*/


.user-input-container {
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 75px;
}

.gameplay-podium-div {
    border: 2px solid #9c27b0;
    width: 26%;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.price-input-div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#price-hidden {
   display: none;
}

.rating-input-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#rating-hidden {
    display: none;
}


.weight-input-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#weight-hidden {
    display: none;
}


.input {
    width: 100px;
    border: 2px solid black;
    border-radius: 100px;
    margin-left: 3%;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}


.symbol {
    width: 80px;
    height: auto;
}

/* BUTTONS */

.guess-btn-div{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
    margin-left: 5%;


}

.button {
    height: 50%;
    width: auto;
    font-size: xx-large;
    text-size-adjust: auto;
    border: 3px solid red;
    background-color: orange;
    border-radius: 100px;

}

#price-guess-button {
    display: none;
   

}

#rating-guess-button {
    display: none;
   
}

#weight-guess-button {
    display: none;
   
}


.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
  }

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 55%; 
    height: 350px;
  }

.close {
    float:inline-end;
    font-size: 28px;
    font-weight: bold;
    color: red;
}


.modal-2 {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.modal-2-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    height: 200px;
  }



  .game-start-container {
      position: fixed;
      width: 80%;
      height: 95%;
      overflow: auto;
      background-color: red;

  }

  .amazon-logo-div {
    border: 2px solid black;
    width: 200px;
    height: auto;
  }

  #amazon {
      max-width: 100%;
      max-height: 100%;
      margin-top: auto;
  }

  .TPIR-logo-div {
    border: 2px solid black;
  }

  #TPIR {
    max-width: 100%;
    max-height: 100%;
  }

  .logo-divs {
      border: 4px solid yellow;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    
  }